h2 {
    color: #193B6A;
}
body {
    background-color: #193B6A;
    color: white;
    font-family: 'Poppins', sans-serif;
  }

.navbar {
    background-color: white;
}

.navbar-brand,
.nav-link {
    color: #193B6A !important;
    font-weight: 600;
}

.btn-custom {
    background-color: #4169E1;
    color: white;
    font-weight: 600;
}

h2 {
    color: #4169E1;
}
